In [1]:
import pandas as pd
from tmdbv3api import Movie, TMDb
import numpy as np

In [6]:
tmdb = TMDb()
tmdb.api_key = 'deb477a3c3471f6e4e39aff4352f0806'
tmdb_movie = Movie()
def scrape(x):
    try:
        result = tmdb_movie.search(x)
        m_id = result[0].id
        return m_id
    except:
        return np.NaN

In [7]:
df = pd.read_csv('poster_path.csv')
df

,movie_title,poster_path
0,avatar,https://image.tmdb.org/t/p/original/6EiRUJpuoe...
1,pirates of the caribbean: at world's end,https://image.tmdb.org/t/p/original/cVFKkJ8Kcu...
2,spectre,https://image.tmdb.org/t/p/original/672kUEMtTH...
3,the dark knight rises,https://image.tmdb.org/t/p/original/vzvKcPQ4o7...
4,john carter,https://image.tmdb.org/t/p/original/7GSSyUUgUE...
...,...,...
5830,little women,https://image.tmdb.org/t/p/original/yn5ihODtZ7...
5831,1917,https://image.tmdb.org/t/p/original/iZf0KyrE25...
5832,just mercy,https://image.tmdb.org/t/p/original/4YJNp1cquI...
5833,clemency,https://image.tmdb.org/t/p/original/c03mA6GYRq...
5834,apparition,https://image.tmdb.org/t/p/original/jO45nIEQMW...

In [8]:
df = df.drop('poster_path', axis = 1)
df

                                   movie_title
0                                       avatar
1     pirates of the caribbean: at world's end
2                                      spectre
3                        the dark knight rises
4                                  john carter
...                                        ...
5830                              little women
5831                                      1917
5832                                just mercy
5833                                  clemency
5834                                apparition

[5835 rows x 1 columns]

In [9]:
df['movie_id'] = df['movie_title'].map(lambda x: scrape(x))
df

NameError: name 'np' is not defined